@{
    ViewBag.Title = "关于我们";
}
<div class="about_box">
    <h3>关于我们</h3>
    <p class="c">宅食府(www.zhaishifu.com)是一家为人民群众提供周边外卖店信息的网站，致力于让大家更快、更方便的订到自己所需要外卖的网站。
    我们努力为您提供所在地点周边尽量多的外卖店信息，并提供方便的分类和检索功能，让您选择更多、订餐更快捷。</p>
    <p class="c">同时宅食府也努力为优质的外卖店带来生意，是外卖商家的高效推广平台。
    相比广派传单等传统方式，在外卖库宣传不用印制大量传单和请人，就能对本地区的目标客户进行针对性极强的推广，大大减少了宣传时间和成本。</p>
    <p class="c">目前网站业务正在快速发展之中，如果你在这里找不到想要的外卖信息，请您不要着急，我们很快就能更新到您所在区域的外卖店信息。
    如果想让您的店铺出现在我们的网站上，请将您的联系方式发送到<a href="mailto:join@zhaishifu.com" class="create">join@zhaishifu.com</a>，我们会在收到邮件后及时给您回复！</p>
</div>


