.job_item{ margin-bottom:15px; background-color:white;box-shadow:0px 1px 1px rgba(0, 0, 0, 0.3);*border:1px solid #DADADA;_border:1px solid #DADADA; padding-bottom:5px}
.job_item h3{ border-bottom:2px solid #e93e44; padding:0; margin:0; font-size:16px; color:#e93e44; position:relative; padding:4px 0 4px 40px;}
.job_item h3 .index{ background-color:#e93e44; color:white; width:30px; text-align:center; margin-right:10px; padding:4px 0; position:absolute; left:0; top:0}
.job_item h3 .pt{ font-size:12px; margin-left:20px; font-weight:normal; color:#8F8F8F;}
.job_item table{ background-color:White;  width:940px; margin:10px auto 0}
.job_item td{ padding:5px 0 5px 10px; font-size:13px;}
.job_item .tl{ width:80px; background-color:#F0EDE1}
.job_item .jp{ width:120px}
.job_item .js{ width:120px;}
.job_item .sn{border-bottom:1px solid #DADADA; border-top:1px solid #DADADA}
.job_item .jd{ padding-left:5px;border-top:1px solid #CFCFCF;}
.job_item a{ color:#e93e44}
.nojob{text-align: center; margin-top: 100px; background: url(/Contents/Images/nojob.png) 0 center no-repeat;padding-left: 120px; height: 100px; width: 250px; margin: 100px auto 0; color: #8F8F8F; line-height:100px}
.sh_action_icon{ display:inline-block; width:20px; height:20px;float:right; margin-right:10px; vertical-align: text-bottom; background-position:center center; background-repeat:no-repeat; border-radius:3px; padding:0; margin-top:1px}
.jbs_form{ text-align:center; margin-bottom:20px}
.jbs_form span{ height:30px; line-height:30px; display:inline-block;*vertical-align:top; }
.jbs_form #jobTitle{font-family: 'Microsoft Yahei','华文细黑','黑体';border:1px solid #DADADA; height:29px;padding:2px 3px; margin:0; font-size:15px;color:#999; width:400px;vertical-align:top;outline:none;line-height:29px\9;}
.jbs_form .btn{ display:inline-block; cursor:pointer; height:35px; background:#9C0 url(/Contents/Images/search.png) no-repeat center center;
                                width:40px; text-align:center; border:none; color:white; font-weight:bold; font-size:15px; vertical-align:bottom;border:none;*height:36px; }
