.shop_box{ position:relative}
.lf{ float:right; width:270px;position:relative}
.lf h3{ margin:0; font-size:16px;background-color:#E93E44; height:35px; color:white; text-align:center; line-height:35px}
.lf .sh_detail{ background-color:white; padding-bottom:5px;}
.lf .sh_detail table{ width:250px; margin:5px auto 0;}
.lf .sh_detail table td{ font-size:14px}
.lf .sh_detail table td.tl{width:70px}
.lf .shop_map{ margin-bottom:10px}
.lf .order {top:0;width:270px;}
.lf .order .bd{background-color:white; padding:10px 15px;}
.lf .order .bd .phonenum{ margin-top:10px; font-size:14px}
.lf .order .bd .phonenum span{ font-weight:bold;word-wrap: break-word;word-break: break-all;}
.lf .order .bd .phonenum .checkout{margin: 0 auto;text-align: center;display: block;padding: 5px 10px;width: 150px;-webkit-border-radius:3px; border-radius:3px; cursor:pointer}
.lf .order .bd .phonenum .checkout:hover{ padding-bottom:4px}
.lf .order_ls li{  border-bottom:1px dashed #aaa;font-size:13px;padding:7px 0}
.lf .order_ls li.unavailable{ background-color:#ddd}
.lf .order_ls li .dsh_dt{float:left;display:block;width:110px;}
.lf .order_ls li.t{ text-align:center; margin:0; font-size:20px; padding-bottom:10px}
.lf .order_ls li span{ display:inline-block;  position:relative;*overflow:hidden;_overflow:hidden;*float:left; *display:inline; *zoom:1}
.lf .order_ls li .n{ width:130px; float:left}
.lf .order_ls li .c{ height:100%; width:20px; text-align:center}
.lf .order_ls li .l{ width:11px; height:11px; background:url(/Contents/Images/dish_order_btn.jpg) no-repeat 0 -22px; *top:5px}
.lf .order_ls li .m{ width:11px; height:11px; background:url(/Contents/Images/dish_order_btn.jpg) no-repeat 0 -11px; *top:5px}
.lf .order_ls li .p{ float:right;}
.lf .order_ls li .d{ float:right;width:11px;height:11px;background:url(/Contents/Images/dish_order_btn.jpg) no-repeat 0 0;top:5px}
.lf .order_tprice{ height:30px; line-height:30px}
.lf .order_tprice span{display:inline-block; height:100%}
.lf .order_tprice strong{color:#E93E44}

.rg{ width:675px; position:relative; float:left;*float:none;}
.rg h2{ margin:0;}
.sh_info{width:100%; margin-bottom:15px}
.sh_info .base_info{background-color:white;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3); height:150px; border-top-left-radius:5px;border-top-right-radius:5px; }
.sh_info .bs_lf{ float:left; padding:13px 0; width:475px}
.sh_info .bs_rg{ float:right}
.sh_info .bs_rg img{border-top-right-radius:5px}
.sh_info .sh_name{ margin-bottom:10px;}
.sh_info .sh_name .sh_action_icon{ display:inline-block; width:25px; height:28px; vertical-align:top; background-repeat: no-repeat; background-position: center center; background-color:transparent; border-radius:3px}
.sh_info .sh_name{ margin-bottom:10px}
.sh_info .sh_name h3{ float:left; background-color:#E93E44; color:White; padding:5px 10px 5px 15px; margin:0; margin-left:-3px}
.sh_info .sh_name .fav{ background-position:6px center; background-repeat:no-repeat; padding:6px 8px 6px 26px; float:left; border-width:1px; border-style:solid; margin-left:15px; margin-top:3px; font-size:12px; cursor: pointer; -webkit-border-radius:3px;border-radius:3px;}
.sh_info .sh_name .fav.fav_off{background-image:url(/Contents/Images/favorite_off.png); border-color:#D9D9D9}
.sh_info .sh_name .fav.fav_off:hover{border-color:#BFBFBF}
.sh_info .sh_name .fav.fav_on{background-image:url(/Contents/Images/favorite_on.png); border-color:#9C0; color:#9C0}
.rg .wb_share{display:inline-block; float:right; margin-right:15px; margin-top:7px}
.rg .wb_share .qq{ display:inline-block; float:left}
.rg .wb_share .renren{display:inline-block; vertical-align:text-bottom; margin-left:15px;float:left}
.sh_info .share_to_tip{ font-size:14px; background-color:#C3263A; color:white; padding:5px; position:relative;left:-2px; vertical-align:middle}
.sh_info .sh_stars{ margin-bottom:15px; margin-left:10px}
.sh_info .sh_phone{ padding-left:15px; background-color:#99CC00; display:inline-block;margin-left:-3px;*display:inline; *zoom:1}
.sh_info .sh_phone .p{ vertical-align:middle; background:url(/Contents/Images/phone.png) 0 center no-repeat; display:inline-block; height:35px; padding:0 10px 0 30px; color:White; line-height:35px; letter-spacing:1px}
.sh_info .sh_phone div{ display: inline-block;  vertical-align:middle}
.sh_info .sh_detail{ margin-top:10px}
.sh_info .sh_detail td{ padding:2px 0; font-size:14px}
.sh_info .sh_detail td:first-child{ width:80px}

.show_lb_box{ height:32px;}
.show_lb{ border-bottom:2px solid #E93E44; z-index:2;}
.show_lb.bg{background-color:#F0EDE1;top:0}
.show_lb .menu{ display:inline-block; padding:6px 15px;background-color:white;margin-right:10px; color:#26221F; font-size:15px; cursor:pointer}
.show_lb .menu.now{ background-color:#E93E44; color:White}

.sh_m{ margin-top:15px}
.sh_dishes { margin-bottom:20px}
.sh_dishes ul{display:block; width:100%;}
.sh_dishes .cat{font-size:0}
.sh_dishes .cat li{ display:inline-block; margin-right:10px; margin-bottom:10px; *float:left}
.sh_dishes .cat li .dishe_cat{ padding:3px 6px; background-color:white; font-size:12px;border-radius:3px; display:inline-block; cursor:pointer; *height:18px;*line-height:18px }
.sh_dishes .cat li .dishe_cat:hover{background:#F56267; color:white;}
.sh_dishes .cat li .dishe_cat.now{background:#E93E44; color:white;}
.sh_dishes .dtl{margin-top:5px;*margin-top:10px}

.dishe_ls{ margin-bottom:15px; background-color:white;-webkit-box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.1);box-shadow: 0 14px 10px -10px rgba(0, 0, 0, 0.1);}
.dishe_ls:first{margin-top:0}
.dishe_ls h4{margin-top:0px; margin-bottom:5px; height:27px; line-height:27px; padding-left:10px; border-bottom:2px solid #E93E44; padding-top:3px}
.dishe_ls .dishe_dt li{display:inline-block;width:289px; line-height:36px; height:36px; background:url(/Contents/Images/raster.png) no-repeat 5px center;padding-right:10px; padding-left:20px; font-size:13px;  cursor:default; position:relative; *float:left;}
.dishe_ls .dishe_dt li:nth-child(odd){ margin-left:8px}
.dishe_ls .dishe_dt li:nth-child(even){ margin-left:20px}
.dishe_ls .dishe_dt .dh_hover{ background-color: #99CC00}
.dishe_ls .dishe_dt .dh_hover span{color:white}
.dishe_ls .dishe_dt .dh_checked{ background-color:#F0EDE1}
.dishe_ls .dishe_dt li span{ height:100%; display:inline-block}
.dishe_ls .dishe_dt span.check{ float:left}
.dishe_ls .dishe_dt .d_name{ width:165px; float:left;}
.dishe_ls .dishe_dt .d_gift,.dishe_ls .dishe_dt .d_remark{ float:right; height:16px; width:16px; line-height:15px; color:White; text-align:center; margin-top:10px; margin-right:5px; font-size:12px; border-radius:3px}
.dishe_ls .dishe_dt .d_gift{ background-color:#CF2329}
.dishe_ls .dishe_dt .d_remark{background-color:#1BA1E2}
.dishe_ls .dishe_dt .d_price{ float:right; width:33px; text-align:right}
.dishe_ls .dishe_dt a.buy{ font-size:14px; font-weight:bold; float:left; color:#336633; width:45px; height:100%; display:inline-block}
.dishe_ls .dishe_dt .d_more_info{position:absolute; width:200px; right:0}
.dishe_ls .dishe_dt .d_more_info div{ line-height:18px;  color:white; padding:9px 10px; font-size:12px}
.dishe_ls .dishe_dt .d_more_info .gift{ background-color:#e93e44}
.dishe_ls .dishe_dt .d_more_info .remark{ background-color:#1BA1E2}
.dishe_dt{ font-size:0; padding-bottom:5px}
.check_mark{ background:url(/Contents/Images/check_mark_bg.gif) no-repeat center center; width:45px; display:inline-block}

.sh_cmt{ margin-bottom:20px; background-color:white;}
.sh_cmt h4,.my_cmt h4{ margin:0; padding-left:10px;background-color:#E93E44; height:30px; line-height:30px; color:white;}
.cmt { margin-top:15px; position:relative;}
.cmt .pt{ position: absolute; width:13px; height:26px; background:url(/Contents/Images/cmt_pt.png) no-repeat; left:121px; top:34px}
.cmt .u_info{ float:left; width:100px; text-align:center;padding-top:10px;*float:none}
.cmt .u_info img{ display:block; vertical-align:baseline; margin:0 auto; padding:5px;}
.cmt .u_info span{ font-size:12px; color:black}
.cmt .u_cmt{ float:right; width:500px; background-color:#FFFCF5; border:1px solid #F3E6C6; height:110px; padding:10px 15px 0 15px; margin-right:10px}
.cmt .u_cmt header{ border-bottom:1px solid #F7E7C6; padding-bottom:5px}
.cmt .u_cmt header .stars{ float:left}
.cmt .u_cmt header .d{ float:right; font-size:13px; color:#aaa}
.cmt .u_cmt .bd{ text-indent:28px; font-size:13px; padding:10px 0; line-height:16px}

.my_cmt{ position:relative; background-color:white}
.my_cmt form{ padding:10px 15px}
.my_cmt .val{ margin-bottom:10px; font-size:14px;}
.my_cmt .ct{font-size:14px; vertical-align:top}
.my_cmt .cmt_val{ height:24px; line-height:20px; padding:2px 3px; font-size:16px; width:100px; margin-right:3px;border: 1px solid #ccc; background-color:#FFFCF5}
.my_cmt textarea{width:580px;border: 1px solid #ccc; margin:0; background-color:#FFFCF5}
.my_cmt input.bt{height:30px; width:80px; margin:15px auto; display:block;background-color:#9C0; color:White; font-size:14px; font-weight:bold; border:none; border-radius:3px; cursor: pointer}
.my_cmt .lg_at{ display:none; width:580px; height:130px; background-color:#EBEBE4; border:1px solid #DBDBDB; font-size:18px; text-align:center; line-height:130px}
.my_cmt .lg_at span{ color:#e93e44; cursor:pointer; font-weight:bold; margin-right:3px; border-bottom:1px solid #e93e44;}

.dialog.order_exists{ width:500px;}
.dialog.order_exists .dlg_cnt{ padding:25px 20px; font-size:15px;}
.dialog.order_exists .dlg_cnt .sh_n{ color:#e93e44}
.dialog.order_exists .dlg_acts{ padding:12px 20px; border-top:1px solid #E5E5E5; background-color:#FFFCF5}
.dialog.order_exists .dlg_act{ text-align:center; display:inline-block; padding:5px 9px; font-size:14px; margin-right:15px;-webkit-border-radius:2px;border-radius:2px }
.dialog.order_exists .dlg_act.clear_order{  padding:4px 8px;}
.dialog.order_exists .dlg_act.show_order:hover{ padding-bottom:4px;}
