.sh_info { padding:0 10px; margin-bottom:10px}
.sh_info .info_box{ background-color:white; padding-top:5px}
.sh_info .sh_stars{ display:inline-block}
.sh_info .sh_name h3 { color:white; text-align:left; margin:0;background-color:#E93E44; text-align:center; display:inline-block; padding:0 10px; margin-left:-3px; font-size:18px; height:32px; line-height:32px; vertical-align:bottom}
.sh_info .sh_name{ margin-bottom:10px;}
.sh_info .sh_phone{ padding-left:15px; background-color:#99CC00; display:inline-block;margin-left:-3px;}
.sh_info .sh_phone .p{ vertical-align:middle; background:url(/Contents/Images/phone.png) 0 center no-repeat; display:inline-block; height:30px; padding:0 10px 0 30px; color:White; line-height:30px; letter-spacing:1px}
.sh_info .sh_phone div{ display: inline-block;  vertical-align:middle}
.sh_info .sh_detail{ margin-top:5px; padding:0 10px 5px;}
.sh_info .sh_detail td{font-size:12px;}
.sh_info .sh_detail td:first-child{ padding:2px 0}
.sh_info .sh_detail .s_area{ color:black;  padding:1px 2px; border:1px solid #EAF0F7; border-radius:3px; display:inline-block; cursor:default;}

.show_lb{ border-bottom:2px solid #e93e44; z-index:20; padding:0 10px }
.show_lb.bg{background:url(/Contents/Images/main_bg.jpg) repeat}
.show_lb a.menu{ display:inline-block; font-size:14px; padding:3px 5px 2px;background-color:white;  border-bottom:none; margin-right:5px;}
.show_lb a.menu.now{ background-color:#e93e44; color:White}

.sh_m{ margin-top:10px}
.sh_dishes { margin-bottom:10px}
.sh_dishes ul{display:block;}
.sh_dishes .cat{ padding:0 10px; font-size:0}
.sh_dishes .cat li{ display:inline-block; margin-right:10px; margin-bottom:10px;}
.sh_dishes .cat li a{ padding:5px; background-color:white; font-size:12px;border-radius:3px; display:inline-block; color:#26221F}
.sh_dishes .cat li a.now{background:#e93e44; color:white;}
.sh_dishes .cat li a:active{background:#e93e44; color:white;}

.dishe_ls{ margin-bottom:10px;}
.dishe_ls h4{margin-top:0px;margin-bottom:0;height:27px; line-height:27px; padding-left:10px; background-color:White; border-bottom:2px solid #e93e44; color:#e93e44}
.dishe_ls .dishe_dt li{ font-size:14px; padding:5px; background-color:white}
.dishe_ls .dishe_dt .dh_hover{ background-color: #D3E9F0}
.dishe_ls .dishe_dt li span{ display:inline-block}
.dishe_ls .dishe_dt .d_name{ float:left;}
.dishe_ls .dishe_dt .d_price{ float:right}
.dishe_dt{ padding:0 10px}
.dishe_dt li:nth-child(odd){ background-color:#F0EDE1}