@{
    ViewBag.Title = "Join";
}

<div class="contact_box">
    <h3>加入我们</h3>
    <p>如果想让您的店铺出现在我们的网站上，请将您的联系方式发送到 <a href="mailto:join@zhaishifu.com">join@zhaishifu.com</a>，我们会在收到邮件后及时给您回复！</p>
</div>

