@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "找回密码成功";
}
<div class="pwd_find_box step2">
    <h2>找回密码成功</h2>
    <p class="tip">新密码发送至您的邮箱，请在下次登陆后修改！</p>
    <p class="tk"><span id="tk_t">10</span>秒后跳转至<a href="/user/login">登陆界面</a></p>
</div>
<script type="text/javascript">
    var tks = 10;
    setInterval(function () { tks--; document.getElementById('tk_t').innerHTML = tks; if (tks == 1) { location.href = "/user/login"; } }, 1000);
</script>
