@model ZsfProject.Models.FindPassword
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "找回密码";
}
<div class="pwd_find_box">
    @using(Html.BeginForm())
    {
    <table>
        <thead><tr><th colspan="2">找回密码</th></tr></thead>
        <tbody>
            <tr>
                <td>邮箱：</td>
                <td class="info">@Html.TextBoxFor(m => m.UserEmail, new { @class = "in_val" })</td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="email">@Html.ValidationMessageFor(m => m.UserEmail, null, new { id = "email_error" })</td>
            </tr>
            <tr class="valid">
                <td>验证码：</td>
                <td class="val">@Html.TextBoxFor(m => m.ValidateCode, new { @class = "in_val" })<img id="validate_img" src="/user/GetImageValidate" title="点击换一张" onclick="this.src='/User/GetImageValidate?random='+Math.random()" /> 
                看不清？<a href="javascript:void(0)" onclick="document.getElementById('validate_img').src='/User/GetImageValidate?random='+Math.random();return false;">换一张</a></td>
            </tr>
            <tr class="error">
                <td></td>
                <td class="validate">@Html.ValidationMessageFor(m => m.ValidateCode, null, new { id = "valid_error" })</td>
            </tr>
            <tr>
                <td colspan="2"  class="btn"><input type="submit" value="提交" /></td>
            </tr>
        </tbody>
    </table>
        }
</div>
<script type="text/javascript">
    var $emilInput = $('#UserEmail');
    var $validateCode = $('#ValidateCode');
    var emailReg = /^(\w)+(\.\w+)*@@[\w\d]+((\.\w+)+)$/;

    $(document).ready(function () {
        $emilInput.focus(function () { $('#email_error').html(''); });
        $validateCode.focus(function () { $('#valid_error').html('') });

        $('form').submit(function () {
            if (!emailReg.test($emilInput.val())) {
                $('#email_error').html('邮箱格式不正确');
                return false;
            }
            if ($validateCode.val() == '') {
                $('#valid_error').html('验证码不能为空');
                return false;
            }
        });
    });
</script>
