<p class="lk">
    @Html.ActionLink("关于宅食府", "Index", "About")
    @Html.ActionLink("联系方式", "Contact", "About")
    @Html.ActionLink("商铺加入", "Join", "About")
</p>
<p>企业QQ：<a href="tencent://message/?uin=1296948337&Site=zhaishifu.com&Menu=yes" target="_blank">1296948337</a></p>
<p class="cp_right"><span class="cp">Copyright©2012 宅食府</span><span style="margin-left:10px">浙ICP备13001431号-1</span></p>
<div class="clear"></div>
