@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title——宅食府</title>
    <meta name="description" content="宅食府——为您提供最全面的外卖信息，让您永不饿肚子，叫外卖就上宅食府。" />
    <meta name="keywords" content="外卖 外卖信息库 网上订餐 外卖号码 宅食府" />
    <style type="text/css">
        body{ background:#F0EDE1;}
        img{ border:none;}
        a{ text-decoration:none; color:#35A8DF}
        .error{ width:950px; margin:5% auto; text-align:center}
        .error h1{ color:#FF7000; margin-top:70px; }
        
        
    </style>
</head>
<body>
<div>
<div class="error">
    <a href="/"><img src="/Contents/Images/logo.gif" alt="首页" title="首页" /></a>
    @Html.Raw(ViewBag.Description)
    <img src="@ViewBag.ImageUrl" class="error_img" alt="404错误"/>
</div>
</div>
</body>
</html>