@{
    ViewBag.Title = "每天一部iPad免费赠送活动";
}
<style type="text/css">
    th
    {
        padding-top: 10px;
    }
    td
    {
        padding: 5px 0;
        vertical-align: top;
    }
    .st
    {
        width: 100px;
        font-weight: bold;
    }
    .dt
    {
        font-size: 14px;
    }
    .ac_wb_share
    {
        float: left;
        margin:0 3px
    }
    .share
    {
        line-height: 24px;
        margin-bottom:15px
    }
    .share span
    {
        float: left;
    }
    .share iframe{ vertical-align:middle}
</style>
<table style="width: 100%">
    <thead>
        <tr>
            <th colspan="2" style="font-size: 24px">
                每天一部iPad免费赠送活动
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center" colspan="2">
                <img src="/Contents/Images/ipad4.jpg" height="200px" />
            </td>
        </tr>
        <tr>
            <td class="st">
                活动日期：
            </td>
            <td class="dt">
                2013年2月25日—2013年3月26日
            </td>
        </tr>
        <tr>
            <td class="st">
                活动规则：
            </td>
            <td class="dt">
                <p style="margin-top: 0">
                    在活动日期内，用户完成以下步骤既有机会赢取第4代<strong>iPad(128G)</strong>一部（颜色随机发放），共30部<strong>每天送出一部</strong>送完为止！具体规则如下：</p>
                <div style="margin: 10px 0">
                    <div class="share">
                        <strong>1、</strong>
                        <iframe src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=zhaishifu123&style=5&t=1354069229896&f=0" frameborder="0" scrolling="auto" width="65" height="23" marginwidth="0" marginheight="0" allowtransparency="true"></iframe>
                        或
                        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://widget.renren.com/plugin/followbutton?page_id=601594652&color=0&model=0" style="width:76px;height:23px;" ></iframe>
                        宅食府 腾讯微博 和 人人主页。
                    </div>
                    <div class="share">
                        <strong style="float:left">2、</strong><span>在 腾讯微博 或 人人网</span><div class="ac_wb_share" id="qqwb_share__" data-appkey="801277904"
                            data-icon="1" data-counter="0" data-content="每天一部iPad宅食府免费大赠送！" data-richcontent="找外卖号码、菜单|就上宅食府|让你用不饿肚子" data-pic="http://zhaishifu.com/Contents/Images/ipad4.jpg">
                        </div>
                        <span>或</span><a class="ac_wb_share" name="xn_share" class="renren" onclick="shareClick()" type="button_medium"
                            href="javascript:;"></a><span>此活动内容，<strong>转发次数越多中奖几率越高</strong>。</span>
                        <div class="clear">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="st">奖品发放：</td>
            <td class="dt">活动日期内，<strong>每天晚上6:30</strong>系统会抽出1名幸运用户（可重复领取！颜色随机发放），通过<strong>微博或人人私信</strong>通知获奖结果！请密切关注相关账号私信状态。</td>
        </tr>
        <tr>
            <td colspan="2" class="st">
                活动最终解释权归宅食府公司所有
            </td>
        </tr>
    </tbody>
</table>
<script type="text/javascript">
    function shareClick() {
        var rrShareParam = {
            resourceUrl: window.location.href,
            srcUrl: window.location.href,
            pic: 'http://zhaishifu.com/Contents/Images/ipad4.jpg',
            title: '每天一部iPad宅食府免费大赠送！',
            description: '宅食府——为您提供周边最全面的外卖信息，包括外卖号码、菜谱等，让您永不饿肚子，叫外卖就上宅食府。'
        };
        rrShareOnclick(rrShareParam);
    }
</script>
